[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
django-guardian = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
pydocstyle = "*"
autopep8 = "*"

[requires]
python_version = "3"
